<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User space</title>
</head>
<nav>
    <div id="left">
        <img src="../../assets/images/logo.png" alt="">
        <a href="#"> Video Aulas </a>
        <a href="#"> Novidades </a>
        <a href="#"> Blog </a>
        <a href="#"> Acompanhamento Físico</a>
        <a href="#"> Aula Personalizada </a>
    </div>
    <div id="right">
        <a href="#" id="a-right"  >
            <img id="user" src="../../assets/images/login-sino.png"> {{user.username}} </a>
    </div>
</nav>

</html>