

#logo-img{
    position: relative;
    width: 15%;
    min-width: 106px;
    height: 85%;
    max-height: 89px;
    max-width: 100%;
    float:left;
    vertical-align: bottom;
    padding-left: 1%;
    padding-top: 3%;
}

a {
    justify-content: space-between;
    display: inline-block; 
    text-decoration-line: none;
    padding-left: 3%;
    padding-top: 5%;
    font-size: 130%;
    color:#778beb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    vertical-align: middle;
   
}

#a-right{
   padding-left: 10%;

}


nav{
    overflow: hidden;
    display:inline-flex;
    position:fixed;
    padding-top: 0px;
    margin-top: -08px;
    margin-left: -5px;
    height: auto;
    min-height: 96px;
    width: 100%;
    background-color:#303952;
    min-width: 400px;
}

.container-fluid{
    display: none;
}

@media (max-width: 443px){
    .nav{
        min-width: 270px;
    }

    .desktop-nav{
        display: none;
    }
    .container-fluid{
        display: contents;
        min-width: 270px;
    }


    #logo-img{
        float:left;
        padding-left: 5%;
        
    }

    a{
        font-size: 90%;
    }
    
    }
