
#left{
    display: inline-flex;
    float: left;
}

#right{
    width: 40%;
    position: sticky;
    margin-right: 2%;
    display: flex;
}

#a-right{
    padding-left: 60%;
    float:right;
    font-size: 140%;
    box-sizing: content-box;
  
}

#a-right:hover{
   
    font-size:170%;
}

#user{
   
    image-orientation: from-image;
    width: inherit;
    height: inherit;
    
  }

  

img{
    position: relative;
    width: 15%;
    height: 80%;
  
   
}


a {
    justify-content: space-between;
    display: inline-block;
    text-decoration-line: none;
    padding-left: 3%;
    padding-top: 5%;
    font-size: 100%;
    color: rgb(0,148,218);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

a:hover{
    font-size: 120%;
}

nav{
    overflow: hidden;
    display:inline-flex;
    position:fixed;
    padding-top: 0px;
    margin-top: -08px;
    margin-left: -5px;
    height: 15%;
    width: 100%;
    background-color: rgb(189,215,116);
    box-sizing: border-box;
}

