<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User space</title>
</head>
<nav class="desktop-nav">
    <div id="left">
        <img id="logo-img" src="../../assets/images/logo.png" alt="">
        <a [routerLink]="['/videoaulas']">
            Video Aulas
        </a>
        <a href="#"> Acompanhamento Físico</a>
        <a href="#"> Aula Personalizada  <i class="fa fa-bell">
            <span class="badge badge-danger">1</span>
        </i></a>
        <a href="#" id="a-right">
            <img id="user" src="../../assets/images/login-sino.png"> {{user.username}} </a>
    </div>
</nav>

 <!-- navbar togle -->
     <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
            <button #navbarToggler
                    class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    (click)="isShown = !isShown" [attr.aria-expanded]="isShown"
            >
                <span class="navbar-toggler-icon"></span>
                
            </button>
            <img id="logo-img" src="../../assets/images/logo.png" alt="">
            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }"  id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="isShown = false" class="nav-link" [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="isShown = false" class="nav-link" [routerLink]="['/about']">About</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="isShown = false" class="nav-link" [routerLink]="['/contact']">Contact</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="isShown = false" class="nav-link" [routerLink]="['/accordion']">Accordion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
   
      



</html>