<!DOCTYPE html>

<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
    <div>
        <form  [formGroup]="user" (ngSubmit)="onSubmit()" >
            <div id="center-form">
                <label>Usuário</label>
                <input #loginForm type="text" formControlName="username"  required>
                <label>Senha</label>
                <input type="password" formControlName="password"    required>
                
                <button type="submit"  class="img-login"></button>
                <span class="error-msg">{{error}} </span>
           
            </div>
        </form>
    </div>
    
</body>


